@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color_accent: var(--color-red-500);
        --color_accent_content: var(--color-red-600);
        --color_accent_foreground: var(--color-white);
    }

    .dark {
        --color_accent: var(--color-white);
        --color_accent_content: var(--color-white);
        --color_accent_foreground: var(--color-white);
    }
}