@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color_accent: var(--color-white);
        --color_accent_content: var(--color-white);
        --color_accent_foreground: var(--color-zinc-800);
    }

    .dark {
        --color_accent: var(--color-zinc-800);
        --color_accent_content: var(--color-zinc-800);
        --color_accent_foreground: var(--color-zinc-800);
    }
}
