includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - packages/
    excludePaths:
        - packages/verbs-flux
        - **/*Test.php
        - packages/**/config/*.php

    level: 5

    treatPhpDocTypesAsCertain: false
